###############################################################################
# TROLL.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
# NOTE: This config file is intended to serve as an *extremely* simple 
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################




###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
        use                     main-server
        host_name               Cactus
	max_check_attempts	2
        alias                   Ryan Brown's Cactus
        address                 10.21.50.203
	contact_groups		cactus
        }



###############################################################################
###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################
###############################################################################

# Define an optional hostgroup for Linux machines

define hostgroup{
        hostgroup_name  troll-servers ; The name of the hostgroup
        alias           Troll Machines ; Long name of the group
        members         Cactus
        }



###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


# Define a service to "ping" the local machine

define service{
        use                             generic-service
        host_name                       Cactus
        service_description             PING
	check_command			check_ping!100.0,20%!500.0,60%
        }
